.about{
font-size: 20px;
}
#banner {
  padding: 6em 0 5em 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 75vh;
  margin-bottom: 5em;
  max-height: 50em;
  min-height: 22em;
  position: relative;
}
#banner p, h1{
  color: whitesmoke;
  text-shadow: 2px 1px 2px rgb(37, 4, 70);
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(14, 24, 134) 50%, rgb(129, 15, 129) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
body {
  overflow-x: hidden;
}
button:hover {
  background-color: #C9E0E0;
  color: white;
  transition: 0.7s;
}
.card:hover{
  cursor:pointer;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.column {
  padding-bottom: 1%;
  padding-left: 2%;
}
.grey {
  background-color: #343a40;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 80%;
}
li.pointer {
  cursor: pointer;
}
.middle {
  text-align: center;
  padding: 10px;
}
.projects {
padding: 1%;
}
.secondary {
  float: left;
  padding: 0 20px 0 0;
  width: 270px;
}
.start {
  padding: 12px;
}
.sticky {
  position: sticky;
  float: left;
  padding: 10px;
  width: auto;
}
#spotlight{
  background-color:black;
  padding: 1%;
  text-align: center;
}
svg {
  margin: 0.4em;
  overflow: visible;
  color: black;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
@media screen and (max-width: 65rem) {
  #banner {
    height: 100vh;
    max-height: 120em;
    min-height: 22em;
  }
  .sticky{
    position: sticky;
    align-self: center;
 }
}