.grey {
  background-color: #343a40;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.secondary {
  float: left;
  padding: 0 20px 0 0;
  width: 270px;
}

button:hover {
  background-color:#C9E0E0;
  color: white;
  transition: 0.7s;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner {
  align-items: center;
  background-image: url("/img/wpp.jpg");
  padding: 12em 0 5em 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 5em;
  max-height: 50em;
  min-height: 22em;
  position: relative;
}

.column {
  align-items: center;
  text-align: center;
  padding-bottom: 2cm;
  padding-left: 20px;
}

img {
  width: 80%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
li.pointer {
  cursor: pointer;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-whatsapp {
  background: #22c352;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #0d1040;
  color: white;
}

.sticky {
  position: sticky;
  float: left;
  padding: 10px;
  width: 20%;
}

.start{
  padding: 12px;
}

.middle {
  text-align: center;
  padding: 10px;
}

.btn-test {
  color: black;
  background-color: #ecf4f4;
  border-radius: .5rem;
}
